$primary-text-color: #757575;
$title-text-color: #212121;
$primary-accent-color: #2196f3;
$secondary-accent-color: #ffffff;
$contacts-transparent-color: rgba(255, 255, 255, 0.6);
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-backgrounf-color: #2f303a;
$icon-bg: #ffffff;
$icon-color: #afb1b8;
$advantages-icon-bg: #f5f4fa;
$project-overlay-color: rgba(33, 150, 243, 0.9);
$transition-type-basic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
