.check {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check__box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8.38px;
  border-radius: 2px;
  fill: transparent;

  .check__input:hover + &,
  .check__input:focus + & {
    border-color: $primary-accent-color;
  }

  .check__input:checked + & {
    background-color: $primary-accent-color;
    border: none;
    fill: #ffffff;
  }
}
