.hero__container {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 452px;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero__title {
  object-position: 50% 50%;
  margin-bottom: 30px;
  width: 694px;

  color: $secondary-accent-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;

  background-color: $primary-accent-color;
  color: $secondary-accent-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  transition: background-color $transition-duration $transition-type-basic,
    box-shadow $transition-duration $transition-type-basic;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
